■企画
単位管理アプリ(仮)

■要件定義

・機能
①時間割
→枠ごとに単位の数を入力して単位管理
　過去分の取得した単位数を入力できる
　学期ごとにわける
　曜日ごとの枠の数を指定(1-6、1-10など)
　
　
②資格の単位管理
→タグ検索して単位数管理(分類を自分で指定)

③出欠管理
④メモ
⑤todo機能
⑥通知機能


ローカルデータ保存方法
SQLite

・ui
マテリアル3 
https://docs.flutter.dev/ui/widgets/material